<%= stylesheet_link_tag 'change' %>

<h1>New Clinic</h1>

<%= form_for @clinic do |f| %>
  <%= f.label :name, class: "label" %>
  <%= f.text_field :name, class: "input-field", placeholder: "Clinic name" %><br>

  <%= f.label :email, class: "label" %>
  <%= f.text_field :email, class: "input-field", placeholder: "example@gmail.com" %><br>

  <%= f.label :phone, class: "label" %>
  <%= f.text_field :phone, class: "input-field", placeholder: "+3801234567" %><br>

  <%= f.label :address, class: "label" %>
  <%= f.text_field :address, class: "input-field", placeholder: "123 Adr st" %><br>

  <%= f.label :year_of_establishment, class: "label" %>
  <%= f.text_field :year_of_establishment, class: "input-field", placeholder: "1600-2023" %><br>

  <%= f.label :facility_type, class: "label" %>
  <%= f.text_field :facility_type, class: "input-field", placeholder: "Clinic type" %><br>

  <%= f.label :city, class: "label" %>
  <%= f.text_field :city, class: "input-field", placeholder: "c. Zubrowka" %><br>

  <%= f.label :rating_mortality, class: "label" %>
  <%= f.text_field :rating_mortality, class: "input-field", placeholder: "Describe impression" %><br>

  <%= f.submit "Create", class: "button" %>

  <div id="error-message" class="large-label"></div>
<% end %>