<%= stylesheet_link_tag 'view' %>

<h1> Certain Clinic </h1>

<table>
  <tr>
    <td> ID: </td>
    <td> <%= @clinic.id %> </td>
  </tr>
  <tr>
    <td> Name: </td>
    <td> <%= @clinic.name %> </td>
  </tr>
  <tr>
    <td> Email: </td>
    <td> <%= @clinic.email %> </td>
  </tr>
  <tr>
    <td> Phone: </td>
    <td> <%= @clinic.phone %> </td>
  </tr>
  <tr>
    <td> Address: </td>
    <td> <%= @clinic.address %> </td>
  </tr>
</table>

<br>

<div class="links-container">
  <%= link_to 'Edit', edit_clinic_path(@clinic), class: "bottom-button" %>
  <%= link_to 'Back', clinics_path, class: "bottom-button" %>
</div>